@use './partials/variables' as *;

@import '~bootstrap/scss/bootstrap';

$fa-font-path: "..fonts/webfonts" !default;
@import "@fortawesome/fontawesome-free/css/all.css";


body {
    background-color: $main_color;
    color: white;
    word-wrap: break-word;
    overflow-x: hidden;

    a {
        color: white;
        text-decoration: none;
    }
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    background-color: $header_color;
    color: white;
    border-bottom: 1px solid $black;
    height: $header_height;
    box-shadow: 0 0 25px 0px black;

    a {
        color: white;
        text-decoration: none;
    }

    .al-profile-image {
        height: calc($header_height - 25px);
        border: 1px groove black;
        box-shadow: 0 0 5px 0 black;
    }

    .logo {
        width: 170px;

        @media screen and (min-width: 768px) {
            width: 250px;
        }
    }
}

aside {
    width: $aside_width;
    height: calc(100vh - $header_height);
    overflow-y: auto;
    overflow-x: hidden;
    background-image: url("../img/sidebar-bg.png");
    background-color: $aside_color;
    border-right: 1px solid black;
    box-shadow: 0px 20px 25px 0px black;
    font-style: italic;
    color: white;
    transition: width 300ms;

    @media screen and (min-width: 768px) {
        width: $aside_width_md;
    }

    a {
        color: white;
        text-decoration: none;
        transition: background-color 300ms;

        &:hover {
            background-color: $aside_hover_color;
        }

        i {
            font-size: 1.4rem;
        }
    }

    .sidebar-resizer {
        width: 35px;
        height: 35px;
        min-width: 35px;
        min-height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
        margin-top: auto;
        margin-bottom: 1.5rem;
        border: 1px solid grey;
        border-radius: 50%;
        transition: transform 300ms;
        cursor: pointer;

        &:hover {
            transform: scale(1.1);
        }

        i {
            font-size: 1.1rem;
        }

        @media screen and (min-width: 768px) {
            display: none;
        }
    }
}

.sidebar-resized {
    width: $aside_width_md;
}

.main-content {
    width: calc(100vw - $aside_width);
    height: calc(100vh - $header_height);
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 1.5rem;
    word-wrap: break-word;
}

.cursor-pointer {
    cursor: pointer;
}

.al-icon {
    cursor: pointer;
    font-size: 1.4rem;
    transition: all 300ms;

    &:hover {
        transform: scale(1.2);
        color: lightgreen;
    }
}

.al-icon.hover-red:hover {
    transform: scale(1.2);
    color: #dc3545;
}

.al-icon-big {
    font-size: 3rem;
}

.al-mex {
    display: flex;
    align-items: center;
    background-color: lightgreen;
    color: black;
    border: none;
    border-radius: 4px;
    padding: 0 1rem;
    margin-bottom: 0;
    height: 0;
    overflow: hidden;
    animation: scale-disappear 6s linear;
}

@keyframes scale-disappear {
    from {
        height: 60px;
        border: 1px solid black;
        margin-bottom: 1rem;
    }

    80% {
        height: 60px;
        border: 1px solid black;
        margin-bottom: 1rem;
    }

    to {
        height: 0;
        border: none;
        margin-bottom: 0;
    }
}

.al-form {
    background-color: rgb(66, 52, 26);
    margin-bottom: 0;
    border: 1px solid black;
    border-radius: 4px;
    padding: 1.5rem;

    hr {
        color: white;
    }

    .al-form-inside {
        background-color: rgb(49, 63, 65);
        color: white;
        border: 1px solid black;
        border-radius: 4px;
        padding: 1.5rem;

        .al-opacity {
            opacity: 0.7;
        }

        .al-profile-image {
            width: 100%;
            max-width: 500px;
            border: 2px solid black;
            box-shadow: 10px 5px 20px 2px black;
        }
    }
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
    padding: 0.3rem;
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 4px;
    width: 100%;
    max-width: 600px;
}

input[type="file"] {
    padding: 0.3rem;
    background-color: rgb(49, 63, 65);
    color: white;
    width: 100%;
    max-width: 600px;
}

textarea {
    resize: none;
}

::placeholder {
    color: black;
    opacity: 0.7;
}

.al-text-no-wrap {
    white-space: nowrap;
    overflow: hidden;
}

.al-button {
    padding: 0.5rem 1.7rem;
    color: black;
    font-style: italic;
    background-color: gold;
    border: 3px groove goldenrod;
    transition: transform 300ms;
    cursor: pointer;

    &:hover {
        color: black;
        transform: scale(1.1);
    }
}

.al-confirm {
    min-width: 250px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: lightgrey;
    color: black;
    padding: 2rem;
    border: 3px groove grey;
    border-radius: 6px;
    text-align: center;
    z-index: 1000;
}

.al-round {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: transform 300ms;
    cursor: pointer;

    &:hover {
        transform: scale(1.1);
    }

    i {
        font-size: 1.4rem;

    }
}

.al-green {
    color: rgb(0, 160, 0);
    border: 1px solid rgb(0, 160, 0);
}

.al-red {
    color: rgb(255, 58, 58);
    border: 1px solid rgb(255, 58, 58);
}

label {
    cursor: pointer;
}

.al-bg-orange {
    background-color: #ef8d1d;
}

.al-bg-violet {
    background-color: #7952b3;
}

.badge-hover-remove, .badge-hover-add {
    position: relative;
    cursor: pointer;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: black;
        opacity: 0;
        border-radius: $border-radius;
        transition: opacity 300ms;
    }

    &::after{
        font-family: "Font Awesome 5 Free";
        font-size: 1.2rem;
        content: "\f00d";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #dc3545;
        opacity: 0;
        transition: opacity 300ms;
    }

    &:hover::before{
        opacity: 0.75;
    }

    &:hover::after{
        opacity: 1;
    }
}

.badge-hover-add{
    &::after{
        font-family: "Font Awesome 5 Free";
        font-size: 1.2rem;
        content: "\2b";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: lightgreen;
        opacity: 0;
        transition: opacity 300ms;
    }
}
.al-plus{
    padding: 0.1rem 0.5rem;
    font-size: 1.2rem;
    background-color: lightgreen;
    color: black;
    // border: 1px solid gold;
    border-radius: 5px;
    transition: transform 300ms;
    cursor: pointer;

    &:hover{
        transform: scale(1.1);
    }
}

select{
    background-color: red;

    option{
        min-height: 200px;
    }
}

.tech-wrapper-p::after{
    content: "";
    padding-bottom: calc($spacer * 1.25);
}

.add-project-plus{
    font-size: 3rem;
    color: lightgreen;
    transition: transform 300ms;

    &:hover{
        transform: scale(1.1);
    }
}

.text-lightgreen{
    color: lightgreen;
}

.al-menu {
    // transform-origin: top right;
    transform: scale(0);
    position: absolute;
    right: 0;
    // transition: transform 200ms;
    border-radius: 5px;
    border: 1px solid grey;
    background-color: white;
    z-index: 100;
}

.al-menu-item {
    display: block;
    white-space: nowrap;
    background-color: white;
    padding: 10px 55px 10px 18px;
    cursor: pointer;
    transition: background-color 200ms;
    border-radius: 5px;
    z-index: 10;
    color: black;

    a {
        color: black;
    }
}

.al-menu-item:hover {
    background-color: lightgray;
}

.al-menu-visible {
    transform: scale(1);
}